[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "nicegraf"]
	path = nicegraf
	url = https://github.com/nicebyte/nicegraf
[submodule "nicegraf-shaderc"]
	path = nicegraf-shaderc
	url = https://github.com/nicebyte/nicegraf-shaderc
[submodule "third_party/ImGuiColorTextEdit"]
	path = third_party/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
